#Element_OphNuPreoperativechecklist_Checks_site_id { margin-bottom: 5px; }
input.textInput { width: 18.4em; }
#Element_OphNuPreoperativechecklist_Checks_time_last_ate_time { margin-top: -3px; margin-left: 3px; }
